
.main_title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.section_header {
    font-size: 20px;
    font-weight: 600;
    color: #0088cc;
    padding: 0;
    margin-bottom: 5px;
}

.section_subtitle {
    font-size: 14px;
    color: #777;
    margin-top: -5px;
    padding: 0;
}

.subsection_header {
    font-size: 15px;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    padding-bottom: 5px;
}


.avatar_placeholder {
    width: 80px;
    height: 80px;
    background: #6c5ce7;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 32px;
    font-weight: bold;
}

.avatar_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.remove_btn .webix_button {
    color: #e74c3c !important;
    text-align: left;
    padding-left: 0;
    text-decoration: underline;
}


.separator_line {
    background-color: #eee;
}


.webix_form {
    background-color: transparent;
}
